<launch>
  <!-- Node map_server để load bản đồ -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find slam_hector_amcl_method)/maps/map.yaml" output="screen"/>

  <arg name="robot_namespace" />
  <arg name="start_ns" default="false" />
  
  <arg name="robot_x" />
  <arg name="robot_y" />
  <arg name="robot_z" />

  <node pkg="amcl" type="amcl" name="amcl">
    <rosparam file="$(find slam_hector_amcl_method)/config/amcl_params.yaml" command="load" />

    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
    <param name="initial_pose_a" value="0.0"/>


    <param name="scan_topic" value="scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>

    <param name="odom_frame_id" value="odom" if="$(arg start_ns)" />
    <param name="base_frame_id" value="base_footprint" if="$(arg start_ns)" />

    <remap from="static_map" to="/static_map" />
  </node>

    <node pkg="tf" type="static_transform_publisher" name="laser_baselaser" args="0 0 0 0 0 0 1 base_laser laser 100"/>
    <!-- Transformation to prepare SLAM -->
    <node pkg="tf" type="static_transform_publisher" name="laser_layer_0_first_echo_base_laser"
          args="0 0 0 0 0 0 1 base_laser laser_POS_000_DIST1 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_laser_to_base_link"
          args="0 0 0 0 0 0 1 base_link base_laser  100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_footprint"
          args="0 0 0 0 0 0 1 base_footprint base_link  100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_odom"
          args="0 0 0 0 0 0 1 odom base_footprint 100"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="odom_frame" default="base_link"/>
    <arg name="pub_map_odom_transform" default="true"/>
    <arg name="scan_subscriber_queue_size" default="5"/>
    <arg name="scan_topic" default="scan"/>
    <arg name="map_size" default="2048"/>

    <node pkg="tf" type="static_transform_publisher" name="cloud_to_baselink"
          args="0 0 0 0 0 0 1 base_link cloud 100"/>

  <node name="static_tf_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map odom" />

    <!-- <node pkg="slam_hector_amcl_method" name="tf_map2odom_node" type="tf_map2odom.py" output="screen">
      <param name="~odom_frame_id" value="odom" />
    </node> -->

</launch>