<launch>
      <!-- nhan Goal va dieu huong -->
      <arg name="node_namespace" default="goalControlnode_cpp" />
      <rosparam command="load" 
                file="$(find sticplus_module)/config/param_goalControl.yaml" 
                ns="$(arg node_namespace)"   />
      <node pkg="sticplus_module" 
            name="$(arg node_namespace)" 
            type="$(arg node_namespace)"
            output="screen"/>
</launch>
