<launch>

    <!-- Start ROS communication between the robot's computer and STI base -->
    <node pkg="rosserial_python" name="RTC_node" type="serial_node.py" output="screen">
        <!-- <param name="port" value="/dev/stibase_rtc" /> -->
	<param name="port" value="/dev/ttyUSB0" /> 
        <param name="baud" value="57600" />
    </node>

</launch>
