<launch>

    <!-- Start ROS communication between the robot's computer and STI base -->
    <node pkg="rosserial_python" name="sc82_node" type="serial_node.py" output="screen">
        <param name="port" value="/dev/stibase_sc821" />
        <param name="baud" value="57600" />
    </node>

</launch>