<launch>
	<node pkg="navigation_reflector" name="r2000_navigation" type="evaluate_lidar_info_v5.py" output="screen" > 
		<param name="scanning_frequency" value="11.0"/>      				<!-- Tần số quét của lidar -->
		<param name="distance_x" value="0.41"/>							    <!-- Khoảng cách của lidar và tâm robot theo trục x -->
		<param name="distance_y" value="0.0"/> 								<!-- Khoảng cách của lidar và tâm robot theo trục y -->
		<param name="ref_frame" value="world"/>								<!-- frame lidar -->
		<param name="origin_frame" value="frame_map_nav350"/>               <!-- frame map -->

		<param name="distance_threshold_max" value="0.6"/>                  <!-- Khoảng cách ngưỡng lớn nhất cho phép để tìm gương khớp -->
		<param name="distance_threshold_origin" value="0.4"/>				<!-- Khoảng cách ngưỡng ban đầu cho phép để tìm gương khớp -->
		<param name="distance_threshold_increment" value="0.05"/> 			<!-- Độ tăng Khoảng cách ngưỡng cho phép để tìm gương khớp -->

		<param name="angle_threshold_max" value="0.6"/> 					<!-- Góc ngưỡng lớn nhất cho phép để tìm gương khớp -->
		<param name="angle_threshold_origin" value="0.4"/>					<!-- Góc ngưỡng ban đầu cho phép để tìm gương khớp -->
		<param name="angle_threshold_increment" value="0.05"/> 			    <!-- Độ tăng Góc ngưỡng cho phép để tìm gương khớp -->

		<param name="angle_limit_lower" value="5"/> 						<!-- Góc cận trên cho phép để tìm gương khớp -->
		<param name="angle_limit_upper" value="175"/>						<!-- Góc cận dưới cho phép để tìm gương khớp -->

		<param name="weight_coef" value="1.5"/>								<!-- Trong số cho ngưỡng khớp map theo rmse -->
		<param name="vel_coef" value="0.22"/>								<!-- Trong số cho ngưỡng khớp map theo vận tốc dài -->
		<param name="omega_coef" value="0.15"/>								<!-- Trong số cho ngưỡng khớp map theo vận tốc quay -->

		<param name="rmse_threshold_initmode" value="0.03"/>				<!-- Ngưỡng rmse trong chế độ init  -->
		<param name="rmse_threshold_navmode" value="0.1"/>		 			<!-- Ngưỡng rmse trong chế độ navigation  -->
		<param name="distance_coef_lower" value="0.25"/>					<!-- Trọng số khoảng cách cho khoảng gương tham chiếu phía dưới  -->
		<param name="distance_coef_upper" value="0.05"/>					<!-- Trọng số khoảng cách cho khoảng gương tham chiếu phía dưới  -->

		<param name='number_count_result' value='5'/>						<!-- Số lần báo lỗi tại 1 phân vùng đến khi chuyển sang phân vùng kế tiếp -->
		<param name='number_reflector_hold' value='3'/>				        <!-- Số lương gương thay đổi tại mỗi phân cụm -->
		<param name="range_findding" value="30.0"/>							<!-- Khoảng cách lớn nhất cho phép để tìm gương khớp -->

		<param name="rmse_coef" value="3.5"/>								<!-- hố rmse khởi tạo tính ngưỡng rmse tại chế độ navigation -->
		<param name="rmse_vel_coef" value="0.3"/>								<!-- hệ số rmse vận tốc dài cho tính ngưỡng rmse tại chế đọ nav -->
		<param name="rmse_omega_coef" value="0.5"/>							<!-- hệ số rmse vận tốc quay cho tính ngưỡng rmse taji chế độ nav -->		
		<param name="rmse_forward_threshold_max" value="0.23"/>						<!-- ngưỡng rmse max-->
		<param name="rmse_backward_threshold_max" value="0.075"/>						<!-- ngưỡng rmse max-->
		<param name="rmse_spin_threshold_max" value="0.25"/>						<!-- ngưỡng rmse max-->
		<param name="rmse_standtill_threshold_max" value="0.05"/>						<!-- ngưỡng rmse max-->
	</node>

</launch>