<launch>
      <!-- vung lidar  -->
      <arg name="node_namespace" default="safety_zoneNAV" />
      <rosparam command="load" 
                file="$(find safety_zone)/config/zone_param.yaml" 
                ns="$(arg node_namespace)"   />
      <node pkg="safety_zone" 
            name="$(arg node_namespace)" 
            type="$(arg node_namespace).py" 
            output="screen"/>
            
</launch>